* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header styles */
li, a, button {
    font-family:'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5e6669;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    background-color: #dcd3b4;
    border-bottom: 1px solid black;
}

img {
    width: 70px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
    color: #cbc4aa;
}

button {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button :hover {
    background-color: aqua;
}


/* footer styles */

footer {
    position: absolute;
    bottom: 0;
    background-color: #5e6669;
    height: auto;
    width: 100vw;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 40px;
    color: #dcd3b4;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #5e6669;
}

.socials a i {
    font-size: 1.1rem;
    color: #dcd3b4;
}

.socials a:hover i {
    color: #cbc4aa;
}

.footer-bottom {
    background: #5e6669;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
